<!DOCTYPE html>
<html>
<head>
    <title>Booking Details</title>
</head>
<body>
    <h1>Booking Details</h1>

    <p><strong>User:</strong> {{ booking.user.username }}</p>
    <p><strong>Service:</strong> {{ booking.service.name }}</p>
    <p><strong>Date:</strong> {{ booking.date }}</p>
    <p><strong>Time:</strong> {{ booking.time }}</p>

    <a href="{% url 'booking_delete' booking.id %}">
        Delete
    </a>
    <a href="{% url 'booking_update' booking.id %}">Edit</a>
    <a href="{% url 'booking_list' %}">⬅ Back to list</a>
</body>
</html>