<!DOCTYPE html>
<html>
<body>
    {% if messages %}
    {% for message in messages %}
        <div>
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
    
    <div style="margin-bottom:20px; padding:10px; background:#eee;">
        {% if request.user.is_authenticated %}
            <strong>Welcome, {{ request.user.username }}</strong>
            |
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            |
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </div>  

    <h1>All Bookings</h1>

    <a href="{% url 'booking_create' %}">Add Booking</a>
    <br><br>

    <ul>
        {% for booking in bookings %}
            <li>
                {{ booking.user.username }} -
                {{ booking.service.name }} -
                {{ booking.date }} -
                {{ booking.time }}

                <a href="{% url 'booking_details' booking.id %}">View</a>
            </li>
        {% empty %}
            <li>No bookings yet</li>
        {% endfor %}
    </ul>
</body>
</html>